################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/ProjectSettings.json
/.vs/shaketable/v15/.suo
/.vs/VSWorkspaceState.json
